dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog {
  gap: 0.25rem;
  width: min(100%, 450px);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  display: none;
}

dialog:modal {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}

dialog img {
  box-shadow: inset 0 0 0px 1000px var(--accent-color);
  border-radius: 0.5rem;
}

dialog p img {
  height: 20px;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: -4px;
  text-decoration: none;
}

dialog #version-string {
  margin: -55px auto 20px auto;
  width: fit-content;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
}

dialog #version-string p {
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(0, white 50%, transparent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

dialog #version-string code {
  font-size: 15px;
  color: var(--text-color) !important;
}

dialog .menu-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 7.5px;
  padding-top: 5px;
}

dialog .menu-icons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--surface-color);
  border-radius: 5px;
  min-width: calc((100% - 15px) / 3);
  font-size: 25px;
  padding: 10px;
  opacity: 0.75;
  transition: 0.25s;
}

dialog .menu-icons > *:hover,
dialog .menu-icons > *.active {
  background: var(--surface-color);
  opacity: 1;
  transition: 0.25s;
}

dialog .menu-icons > *.active {
  pointer-events: none;
}

dialog:has(label) label {
  margin-top: 5px;
}

div[data-modal-page] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

div[data-modal-menu] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

div[data-modal-buttons] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

div[data-modal-actions] {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

div[data-modal-actions] > button {
  flex: 1;
}

dialog > button[data-modal-view]:not(.icon),
dialog > button[data-logout],
dialog > button[data-sync],
dialog > button[data-report-bug] {
  text-align: unset;
}

div.modeless {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

div.modeless > h2 {
  font-size: 3em;
  font-weight: normal;
}

p.tooltip {
  pointer-events: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5rem;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

div[data-color-input] {
  position: relative;
}

div[data-color-input] > input {
  padding-left: 2.25em;
  width: 100%;
}

div[data-color-input] > input[type="color"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

div[data-color-input] > div[data-color-preview] {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 0.25em;
}

div[data-color-input] > div[data-color-preview]:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  z-index: 9999;
  opacity: 0;
  transition: 0.5s opacity;
}

#loader > * {
  animation: fadeIn 1s ease-in-out infinite alternate;
}

#loader.active {
  display: flex;
  opacity: 1;
  transition: 0.5s opacity;
}

[tooltip],
[aria-label] {
  position: relative;
  cursor: pointer;
}

[tooltip]::after,
[aria-label]::after {
  content: attr(tooltip);
  position: absolute !important;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-size: 0.875rem !important;
  font-family: "Figtree" !important;
  font-weight: normal !important;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  z-index: 1000;
  line-height: normal;
}

[aria-label]::after {
  content: attr(aria-label) !important;
}

[tooltip][reverse]::after,
[aria-label][reverse]::after {
  top: unset;
  bottom: -1.5rem;
}

[tooltip]:hover::after,
[aria-label]:hover::after {
  opacity: 1;
  top: -2rem;
  transition: 0.2s ease-in-out;
}

[tooltip][reverse]:hover::after,
[aria-label][reverse]:hover::after {
  top: unset;
  bottom: -2rem;
}

*:has(> [tooltip]),
*:has(> [aria-label]) {
  position: relative;
  overflow: visible !important;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
      35deg,
      #dd6317de,
      #dd6417de 20px,
      transparent 10px,
      transparent 40px
    ),
    black;
  color: white;
  line-height: 17px;
  z-index: 999;
  height: 33px;
  transition: 0.25s margin-top;
}

.topbar span {
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.topbar span i {
  color: darkorange;
}

:root:not(:hover) .topbar {
  margin-top: -33px;
  transition: 0.25s margin-top;
}

body:has(.topbar) {
  transition: 0.25s padding-top;
}

:root:hover:has(.topbar) body {
  padding-top: 83px;
  transition: 0.25s padding-top;
}

.alert {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.75em 0.5em 0.5em;
  border: none;
  border-radius: 0.5rem;
  border-left: 4px solid;
  background-color: var(--surface-color);
  gap: 0.75rem;
  margin-bottom: 0.5em;
}

.alert.separate {
  flex-direction: column;
  gap: 0.5rem;
}

.alert.full {
  flex-direction: column;
  gap: 0.6rem;
}

.alert:has(> div div p[hidden]),
.alert:has(> div div p[hidden]) > div {
  align-items: center;
}

.alert img {
  width: 150px;
  height: fit-content;
  border-radius: 5px;
}

.alert.separate img {
  width: 250px;
}

.alert.full img {
  width: 100%;
  height: auto;
}

.alert > div {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: -webkit-fill-available;
  flex-wrap: wrap;
}

.alert > div div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.alert > div > i {
  margin-left: 0.5em;
}

.alert button {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  margin-left: auto;
}

.alert button:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .alert {
    flex-direction: column;
    padding: 0.5em;
  }

  .alert > div {
    margin: 0;
  }

  .alert button {
    width: -webkit-fill-available !important;
  }
}