body > * {
  flex-shrink: 0;
}

div.spacer {
  height: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.full-row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.full-row > * {
  flex: 1;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

:is(.space, .extra-space) + .space {
  margin-top: 0.25rem;
}

:is(.space, .extra-space) + .extra-space {
  margin-top: 1.5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 0.25rem;
  width: -webkit-fill-available;
  align-items: flex-end;
}

.button-grid.wrap {
  flex-wrap: wrap;
}

.button-grid.wrap > * {
  margin-top: 0;
}

.button-grid.gap {
  gap: 0.75rem;
}

#header {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#header h1 {
  font-size: 1.5rem;
}

#header h6,
#header a {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.5;
}

#header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header .menu {
  margin-top: 5px;
  border-radius: 10px;
}

#clicker {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100%, 900px);
  gap: 12.5px;
}

#question-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
  justify-content: center;
  width: -webkit-fill-available;
}

#question-input {
  flex: 1;
  min-width: 6rem;
}

#answer-container {
  border-radius: 0.5rem;
}

#answer-container:not(:hover) {
  overflow: hidden;
}

[data-answer-mode] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-answer-mode="input"] {
  flex-direction: column-reverse !important;
}

#answer-textarea-container {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-color);
  border-radius: 0.5rem;
}

#answer-input {
  padding-bottom: 0;
}

#answer-suggestion {
  height: 2em;
  line-height: 2;
  padding: 0 0.5rem;
  background-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: text;
}

#answer-suggestion > kbd {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

[data-answer-mode="choice"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.375em 0.5em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--surface-color);
}

[data-answer-mode="math"] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-answer-mode="math"] > math-field {
  width: 100%;
}

[data-answer-mode="frq"] .frq-parts {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

[data-answer-mode="frq"] .frq-parts .part {
  display: flex;
  gap: 0.25rem;
  width: -webkit-fill-available;
  position: relative;
}

[data-answer-mode="frq"] .frq-parts .part .prefix {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  position: absolute;
  height: -webkit-fill-available;
  margin: 5px;
  padding: 2.5px 5px;
  border-radius: 5px;
}

[data-answer-mode="frq"] .frq-parts .part input {
  width: -webkit-fill-available;
  padding-left: 35px;
}

[data-answer-mode="frq"] .frq-parts .part button {
  width: fit-content !important;
}

#insert-row {
  flex: 1;
  overflow: hidden;
}

#controls-container {
  display: flex;
  flex-direction: row;
  background-color: var(--surface-color);
  width: fit-content;
  overflow: hidden;
  align-self: center;
  position: fixed;
  bottom: 25px;
  padding-left: 5px;
  transition: 0.5s;
}

#controls-container:hover {
  border-radius: 0 100vh 100vh 0;
  transition: 0.5s;
}

#controls-container::before {
  content: attr(checks);
  position: absolute;
  bottom: 0;
  right: 75%;
  height: 100%;
  width: fit-content;
  background-color: var(--surface-color);
  color: var(--accent-text-color);
  padding: 7.5px 12.5px 7.5px 17.5px;
  border-radius: 50vh 0 0 50vh;
  z-index: -1;
  transition: 0.5s;
}

#controls-container:hover::before {
  right: 100%;
  background-color: var(--accent-color);
  transition: 0.5s;
}

#symbols-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.125rem;
}

#symbols-grid > button {
  background-color: var(--background-color);
}

#symbols-grid > button:hover {
  color: var(--text-color);
  background-color: var(--surface-color);
}

#theme-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.25rem;
  max-height: 9.5rem;
  overflow: auto;
}

#theme-selector > button {
  height: 3em;
  line-height: 1.2;
}

#seat-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem 1.5rem;
}

#history-date {
  font-size: 1.25rem;
}

#history-date:empty {
  display: none;
}

#history-date:empty ~ #history-navigation {
  display: none;
}

#history-navigation {
  margin-top: 10px;
}

dialog:has(.history-feed) > button {
  margin-top: 5px;
}

#history-feed {
  overflow-y: auto;
  height: 400px;
}

#history-feed > button {
  height: fit-content;
  padding: 0.375em 0.75em;
  text-align: left;
  line-height: unset;
}

#history-feed > button > p {
  overflow: hidden;
  text-overflow: ellipsis;
}

label {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

label:has(i) {
  flex-direction: row;
  gap: 5px;
}

#theme-editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

#theme-editor > :nth-of-type(1) {
  grid-column: 1 / 3;
}
